frame.js
ideas
jquery-3.6.1.min.js
main.js
node_modules/
package-lock.json
package.json
Backgrounds/
Book.png
Icons/
Index_files/
ScreenShot1.bmp
ScreenShot10.bmp
ScreenShot2.bmp
ScreenShot3.bmp
ScreenShot4.bmp
ScreenShot5.bmp
ScreenShot6.bmp
ScreenShot7.bmp
ScreenShot8.bmp
ScreenShot9.bmp
additional/
Макет.png
Plot.docx
jquery-3.6.1.min.js