* {
    margin: 0px;
}

body {
    background-color: rgb(42, 47, 61);
    /* background-image: url('Backgrounds/New Vegas.webp'); */
    justify-content: center;
    align-items: center;
    --main-bg-color: rgb(71, 92, 113);
    --main-border-color: rgb(188, 177, 48);
    --main-nonborder-color: rgba(255, 255, 255, 0);
    --main-unavailable-color: rgb(195, 170, 29);
    --main-text-color: rgb(245, 219, 74);
}

nav {
    background-color: khaki;
    font-size: 1.375rem;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links {
    display: block;

    & ul {
        display: flex;
        padding: 10px;
        list-style: none;

        >li {
            padding: 10px;
            justify-content: right;
        }
    }
}

nav {
    a {
        display: inline-block;
        cursor: pointer;

        :link {
            color: orchid;
            text-decoration: none;
        }
    }

    img {
        padding-top: 10px;
        padding-left: 25px;
        margin-right: 30px;
        max-width: 60px;
        max-height: 60px;
    }

    .links {
        position: relative;
        justify-content: space-between;
    }

    .about {
        display: none;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 100px;
        left: 40px;
        background-color: rgb(176, 190, 230);
        border: 0.0625rem solid khaki;
        border-radius: 10px;
        text-align: center;
    }

    >div:hover .about {
        display: block;
    }

    ul li a {
        padding: 5px;
        display: block;
        position: relative;
    }
}

.params {
    display: grid;
    grid-template-columns: 20rem 11.65rem 32.5rem;
    grid-template-rows: 20.1rem 19.375rem 9rem;
    margin-top: 1.25rem;
    font-family: sans-serif;
    grid-auto-flow: dense;
    margin-left: 1rem;
}

.params a,
h2,
h3,
button,
.main,
.checkbox,
.all,
#accept,
#reset,
img {
    cursor: pointer;
}

.books_side {
    box-sizing: content-box;
    grid-row-start: auto;
    grid-row-end: auto;
    height: 3.125rem;
    position: relative;
    z-index: 3;
}

.books_side:hover li {
    visibility: visible;
}

.books_side li {
    display: grid;
    width: 20.625rem;
    max-height: 39.4rem;
    align-items: center;
    overflow-y: scroll;
    border: solid var(--main-border-color);
    background-color: var(--main-bg-color);
    grid-template-columns: 1.5rem 1.2rem 8.24rem 8.65rem;
    position: relative;
    top: -3.12rem;
    visibility: hidden;
}

.books {
    font-size: 1rem;
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px;
}

#Skills .books_side li a {
    color: var(--main-text-color);
    font-size: 0.95rem;
    hyphens: auto;
    line-height: 0.8rem;
    height: fit-content;
}

#Skills .books_side li a.details {
    overflow: hidden;
    justify-content: start;
    max-height: 1.75rem;
    background-color: var(--main-bg-color);
}

#Skills .books_side li a.details:hover {
    max-height: fit-content;
}

#Skills .books_side li h2 {
    font-size: 1.15rem;
    justify-self: stretch;
}

.books_side li i.checkbox {
    width: 12px;
    height: 12px;
    margin: 5px;
}

#Abilities {
    width: 58.6rem;
    display: block;
    min-height: 10rem;
    max-height: 47.5rem;
    margin-left: 1rem;
    overflow-y: scroll;
}

.area {
    border: 1px;
}

.area_head {
    display: grid;
    grid-template-columns: 5fr 3fr;
    justify-items: center;
    border-bottom-style: solid;
    border-top-style: solid;
    align-items: center;
}

.area .head h1 {
    grid-column-start: span 4;
    font-size: 1.5rem;
    border-bottom: solid;
}

.area .List {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.area .List .header{
    border: 1px;
    border-bottom: solid;
}

.area .List .header h1{
    font-size: 1.5rem;
}
.Choose_list {
    border-right-width: 3px;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
}

.area .List h2 {
    /* border-bottom: solid; */
    font-size: 1.375rem;
}

.area .List .head{
    display: grid;
    grid-template-columns: 40% 4% 43% 13%;
    height: fit-content;
    border-bottom: solid;
}

.area .Choose_list .head{
    grid-template-columns: 7% 40% 4% 35% 15%;
    
}

.area .ability {
    display: grid;
    grid-template-columns: 36.5% 10.5% 45% 8%;
    height: fit-content;
    border-color: var(--main-nonborder-color);
    border: solid var(--main-nonborder-color);
}

.area .Choose_list .ability {
    grid-template-columns: 8% 38.5% 5.5% 40% 8%;
}

#Implants_Abilities .Choose_list .head,
#Special_Abilities .Choose_list .head {
    display: grid;
    grid-template-columns: 5% 35% 47% 13%;
    height: fit-content;
}

#Implants_Abilities .Choose_list .ability,
#Special_Abilities .Choose_list .ability {
    display: grid;
    grid-template-columns: 7% 40% 45%  8%;
    height: fit-content;
}

.area .area_head #level_Choice {
    display: flex;
    align-items: center;
}

.ability {
    font-size: 1.25rem;
    align-items: center;
    grid-auto-rows: minmax(2.25rem, auto);
    order: 1;
}

.ability h4 {
    text-align: center;
}

.area .ability a {
    font-size: 1.075rem;
    height: fit-content;
    padding: 0;
}

.unAvailible {
    color: rgb(171 149 24);
    order: 2;
}
.desired{
    order: 0;
}

.additional {
    display: none;
    padding: 0.5rem;
}

.ability.targeted .additional {
    display: grid;
    grid-column: span 4;
    text-align: start;
}

.ability .additional .window {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.ability .additional .window h3 {
    grid-column: span 2;
    justify-self: center;
    text-align: center;
}

.area .window a {
    font-size: 1.5rem;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 2rem;
}

.control button {
    margin-bottom: 1rem;
}

#SPECIAL,
#Skills,
#Traits,
#Description,
#Derived,
#books_side,
#Abilities,
#SPECIAL_Window {
    visibility: visible;
    border-style: solid;
    border-color: var(--main-border-color);
    text-align: center;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Roboto Flex', sans-serif;
    box-sizing: border-box;
}
/* Derived */
#Derived {
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
    padding: 0.2rem 0.1rem 0.3rem;
    font-size: 1.125rem;
    display: grid;
    /* width: 11.54rem;
    height: 20.1rem; */
    box-sizing: border-box;
    text-align: start;
    border-width: 3px 2px 2px 1px;
    align-content: space-between;
}

#Derived div {
    display: grid;
    grid-template-columns: 9.15rem 2.25rem;
}

#Traits {
    opacity: 1;
    padding-left: 0;
    margin-left: 0;
    display: grid;
    grid-row: 2/4;
    grid-column: 1/3;
    /* width: 39.625rem; */
    /* width: fit-content; */
    /* height: 30rem; */
    height: fit-content;
    border-width: 1px 2px 3px 3px;
    justify-content: end;
}

#Traits .Stats {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#Traits div {
    display: grid;
    min-height: 2.675rem;
    line-height: 1.4rem;
    grid-template-columns: 1.75rem 2.35rem 11.3rem;
}

#Traits div a {
    display: flex;
    justify-content: center;
}

#Skills a,
#Traits a {
    font-size: 1.375rem;
    padding-left: 2px;
    border-style: none;
    border-color: rgb(158, 133, 99);
    justify-content: center;
}

#Skills h2,
#Traits h2 {
    font-size: 1.75rem;
    max-height: 2.5rem;
}

.semi {
    width: 12px;
    height: 12px;
    background-color: rgb(164, 164, 28);
    margin-left: 13px;
    margin-left: 11px;
    position: relative;
    bottom: 6px;
}

.active {
    border: solid rgba(224, 224, 39, 0.903);
    width: 12px;
    height: 12px;
    background-color: rgb(164, 164, 28);
    margin-left: 12px;
    margin-top: 6px;
}
/* Description */
#Description {
    text-align: start;
    padding-left: 1px;
    font-size: 1.125rem;
    display: grid;
    grid-row: 3/4;
    grid-column: 3;
    height: 6.675rem;
    /* height: fit-content; */
    width: 25.05rem;
    /*    grid-template-rows: 30px 78px;*/
    max-height: fit-content;
    border-width: 3px 3px 3px 1px;
    overflow: hidden;
}

#Description h2 {
    /*    max-height: 1.5rem;*/
    /*    margin-bottom: 2px;*/
    font-size: 1.4rem;
}

#Description p {
    width: 100%;
    height: 100%;
    /*    display: contents;*/
    font-size: 1.1rem;
}
/* Special */
#SPECIAL,
#SPECIAL_Window .content {
    grid-row: 1/2;
    grid-column: 1;
    /* height: 24.25rem; */
    height: fit-content;
    width: 20rem;
    display: grid;
    padding-left: 2px;
    border-width: 3px 2px 2px 3px;
    padding-bottom: 0.35rem;
}

#SPECIAL .Stats a,
.Special .Stats a {
    font-size: 1.5rem;
}

.Stats .value {
    text-align: center;
}

.Special.Stats div,
#SPECIAL_Window .Stats div {
    display: grid;
    grid-template-columns: 2rem 2rem 11.75rem 2rem 2rem;
}

#SPECIAL h3 {
    padding-right: 10px;
    font-size: 1.95rem;
    height: 2rem;
}

#SPECIAL_Window {
    visibility: visible;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    justify-content: center;
}

#SPECIAL_Window .body {
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 30px 15px;
    border-width: 3px, 1px, 1px, 3px;
}

#SPECIAL_Window .content {
    padding: 5px;
    height: fit-content;
    max-width: 424px;
    width: fit-content;
    background-color: var(--main-bg-color);
    position: relative;
    border: solid;
    border-color: rgb(205, 192, 35);
    border-width: 3px;
    grid-template-columns: 17.875rem 2.5rem;
}

#SPECIAL_Window .Stats .control {
    grid-column: span 5;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
}
#Special .Stats img {
    width: 40px;
    height: 45px;
}

#accept,
#reset {
    border-color: var(--main-nonborder-color);
    border-width: 3px;
}

#accept:hover,
#reset:hover {
    border-color: rgb(205, 192, 35);
}

.Stats .main {
    border-width: 0.15rem;
    border: solid;
    border-color: var(--main-nonborder-color);
    display: grid;
    grid-template-columns: 2rem 2.25rem 2.5rem 12rem;
}

.main:hover {
    background-color: rgb(53, 69, 85);
    border: solid;
    border-color: goldenrod;
}

/* #Skills  */

#Skills {
    grid-row: 1/3;
    grid-column: 3;
    /* height: 46.0625rem; */
    /* width: 25rem; */
    width: 25.05rem;
    height: 39.5rem;
    border-width: 3px 3px 1px 1px;
}

#Skills #head {
    display: grid;
    grid-template-rows: 1.5rem 1.5rem;
}

#Skills #head h2 {
    grid-column-start: span 3;
}

#Skills #head #max {
    grid-column-start: span 2;
    grid-row: 2;
}

#Skills #head #need {
    grid-column-start: 3;
    grid-row: 2;
}
.Stats .main {
    display: grid;
    height: 2.5rem;
    grid-template-columns: 2rem 2.25rem 2.5rem 12rem;
}

#Skills .Stats .full {
    display: grid;
    grid-template-columns: 18.5rem 2rem 2rem 2rem;
    align-items: start;
}

#Skills ul {
    list-style: none;
    position: relative;
    height: 2.5rem;
}

.Stats a {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    height: 40px;
}

.Stats img {
    max-width: 2.5rem;
    object-fit: contain;
    height: 2.5rem;
    width: 2.5rem;
}

i.checkbox{
    display: block;
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    border: solid rgba(224, 224, 39, 0.903);
    background-color: rgb(164, 164, 28);
    justify-content: start;
    text-align: start;
}
.unChecked  i.checkbox {
    opacity: 0;
}

.Checked i.checkbox {
    opacity: 1;
}

.Stats button,
.up,
.down,
.control button {
    color: gold;
    background-color: rgba(71, 92, 113, 0);
    border-style: solid;
    border-color: var(--main-nonborder-color);
    font-size: 1.875rem;
}

#Abilities .next,
.previous {
    font-size: 1.75rem;
    background-color: var(--main-bg-color);
    border: 0ch;
    color: var(--main-border-color);
}

button:disabled {
    color: rgb(171 149 24);
}

select,
option {
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
    font-size: 0.9rem;
    color: var(--main-text-color);
}

.level_select {
    height: 1.9rem;
}

#langSelect {
    width: 4rem;
    height: 2rem;
    background-color: khaki;
    border: none;
    color: rgb(11, 98, 98);
}

#langSelect option {
    height: 1rem;
    border-radius: 0%;
}

option[value="en"] {
    background-image: url(Icons/en.png);
}
