/* Special */
#SPECIAL,
#SPECIAL_Window .content {
    grid-row: 1/2;
    grid-column: 1;
    /* height: 24.25rem; */
    /* height: fit-content; */
    width: 20rem;
    display: grid;
    padding-left: 0.125rem;
    border-width: 0.1875rem 0.125rem 0.125rem 0.1875rem;
    padding-bottom: 0.35rem;
}

#SPECIAL .Stats a,
.Special .Stats a {
    font-size: 1.5rem;
}

.Stats .value {
    text-align: center;
}

.Special.Stats div,
#SPECIAL_Window .Stats div {
    display: grid;
    grid-template-columns: 2rem 2rem 11.75rem 2rem 2rem;
}

#SPECIAL h3 {
    padding-right: 0.625rem;
    font-size: 1.95rem;
    height: 2rem;
}

#SPECIAL_Window {
    visibility: visible;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    justify-content: center;
}

#SPECIAL_Window .body {
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 1.875rem 0.9375rem;
    border-width: 0.1875rem, 0.0625rem, 0.0625rem, 0.1875rem;
}

#SPECIAL_Window .content {
    padding: 0.3125rem;
    height: fit-content;
    max-width: 26.5rem;
    width: fit-content;
    background-color: var(--main-bg-color);
    position: relative;
    border: solid;
    border-color: rgb(205, 192, 35);
    border-width: 0.1875rem;
    grid-template-columns: 17.875rem 2.5rem;
}

#SPECIAL_Window .Stats .control {
    grid-column: span 5;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
}

#Special .Stats img {
    width: 2.5rem;
    height: 2.8125rem;
}